[user]
	email = bradleybullman@gmail.com
	name = bbullman
[credential]
	helper = store --file /home/bbull/repos/.keys/github
[init]
	defaultBranch = main
# [url "git@github.com:"]
#	insteadOf = https://github.com/
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
