**/*.netrwhist
**/*.git

# configs to remove
**/dconf
**/pulse
**/gh
**/chromium
**/spotify
**/discord
**/Signal
**/obsidian
**/helm
**/pulse
**/JetBrains
**/BraveSoftware
**/bluetuith
**/bottom
**/gtk*
**/go
**/krita*
**/k9s
**/mime*
**/systemd
